# Core functionality - changes here should be rare!
/src/app.py                   @KaungPyaeHtet
/src/backend/database.py      @KaungPyaeHtet
/src/backend/routers/auth.py  @KaungPyaeHtet

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KaungPyaeHtet
